.ChatMessageItem {
  /* background-color: #fbfaf5; */
  background-color:#FFFAFA;
  color: black;
  width: fit-content;
  border-radius: 20px;
  margin-bottom: 2%;
  max-width: 70%;
  margin-left: 6.8%;
  text-align: start;
  padding: 1%;
  font-size: 100%;
  font-size: larger;
  font-weight: 400;
  
    
  /* display: flex;
    align-items: center; */
  /* float: left; */
  /* text-overflow: clip;
    font-size: 137%;
    font-weight: 400;
    background-color: #FBFAF5 ; */
  /* color: black; */
  /* min-width: 8%; */
  /* max-width:50%; */
  /* width: fit-content;
    min-width: 20%;
    max-width: 70%;
    text-align: start;
    margin-left:6.8%; */
  /* margin-top:1%; */
  /* margin-bottom:1%;
    border-radius: 20px; */
  /* padding: 10px; */
}

.UserChatMessageItem {
  background-color: #25d366;
  color: black;
  width: fit-content;
  border-radius: 20px;
  margin-bottom: 2%;
  max-width: 70%;
  margin-right: 6.8%;
  text-align: start;
  padding: 1%;
  font-size: 100%;
  font-size: larger;
  font-weight: 400;
  margin-left: auto;


  /* display: flex;
    align-items: center; */
  /* justify-content: flex-end; */
  /* text-overflow: clip;
    font-size: 137%;
    font-weight: 400; */

  /* min-width: 8%;  */
  /* max-width:50%; */
  /* min-width: 20%; */
  /* margin-top:1%; */

  /* padding: 10px; */
}

#ChatUsername {
  font-size: small;
  display: flex;
  justify-content: space-between;
}

.ChatMessageUsername {
  margin-bottom: 25%;
  font-size: small;
  justify-content: flex-end;
  /* align-items: left; */
}

.ChatMessageDetails {
  display: flex;
  /* justify-content: flex-end; */
}
.MessageTime {
  font-size: small;

  /* margin-left: 10%; */
}

.ChatTextDetails {
  margin-top: 9px;
  max-width: 39rem;
  overflow-wrap: break-word;
  /* font-size: 111%; */
}

.EnergyWeakColor {
  color: rgb(131, 26, 44);
  font-weight: 600;
}

.EnergyDecentColor{
  /* background-color: #0526e0; */
  color: #157BD0;
  font-weight: 600;

}

.EnergySolidColor {
  color: aquamarine;
  font-weight: 600;
}

.EnergyAwesomeColor {
  color: rgb(15, 255, 80);
  font-weight: 600;

}
