.ChatFeelingCardMaster {
    max-width: 80%;
    /* background-color: rgb(21, 122, 211); */
    padding: 1%;
    margin:1%;
    border-bottom: 1px solid white;
    /* border-left: 1px solid white; */
    font-size: large;
    margin:2.5%;
    
}

.EnergyWeakColor {
    color: rgb(131, 26, 44);
    font-weight: 500;
}

.EnergyDecentColor{
    /* background-color: #0526e0; */
    color: #157BD0;
    font-weight: 500;

}

.EnergySolidColor {
    color: aquamarine;
    font-weight: 500;
}

.EnergyAwesomeColor {
    color: rgb(15, 255, 80);
    font-weight: 500;

}