.FeelingCard {
 background-color: rgb(40, 119, 189);
 margin:1.5%;
 width: max-content;
 min-width: 94%;
 max-width: 20vw;
 border-radius: 25px;
 padding:1.2%;
 /* border:1px solid white; */
 text-align: left;
 font-size: 100%;
 /* opacity: 98%; */
}

.DeleteFeeling{
    background-color: transparent;
    /* color:red; */
    border-color: transparent;
    font-size: larger;
    float:right;
    cursor: pointer;
}
