.MemberCard {
    background: linear-gradient(#157BD0, #ADD8FF);
    height: 32vh;
    margin:2.5%;
    min-width: 25%;
    opacity:80%;
    font-size: x-large;
    font-weight: bold;
    color: black;
    /* cursor: pointer; */
}

.MemberCardBox {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}


#tribePageEnergy {
    font-weight: 700;
    font-size: 115%;
    /* width:fit-content; */
    /* float: none; */
    /* background:; */
}