.WorryCardMaster {
    background-color: rgb(40, 67, 189);
    margin:1.5%;
    width: max-content;
    min-width: 85%;
    max-width: 90%;
    padding:2%;
    /* border:1px solid white; */
    border-radius: 25px;
    text-align: left;
    font-size: 120%;
    /* opacity: 98%; */
    color:white;
}
