.MasterAppSoon {
    background-image: url(../images/MobileCrop.gif);
    background-size:cover;
    width:100vw;
    height: 100vh;
    display: grid; 
    grid-template-rows: 25vh auto;
    color:white;
}

.TribeApp {
    /* background-color: aliceblue; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.StrongerSoon {
    /* color:red; */
    /* background-color: green; */
    margin-top:0%;

}

.TribeNameSoon {
    /* margin-left:auto; */
    font-size: 490%;
    margin-bottom: 0%;
    margin-top:0%;
    
}

.OptionsMobile {
    /* background-color: rgb(100, 173, 173); */
    background: linear-gradient(#3e8ccc, #ADD8FF);
    opacity:50%;
    display: flex;
    justify-content: space-around;
    margin-top:auto;
    height: 8vh;
}

.IndividualButton {
    background-color: #53A3EC;
    font-size: 235%;
    padding: 1.6% 1.6% 0% 1.6%;
    border-radius: 18px;
    width: 13%;
    text-align: center;
    height:fit-content;
    margin-top:1%;
}

#ChatButton {
    font-size: 220%;
    padding: 2.5% 2.5% 0% 2.5%;
    width:11.5%;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  .AppleAppStore {
    /* background-color: white;  */
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50vw;
    height: 7vh;
    background-image: url(../images/ResizedApple.png);
    background-size: cover;
    /* padding: 10%; */
    border-radius: 25px;
    padding: 2%;
  }
  



