.chatMaster {
    /* background-image: url(../images/Tribb.jpg) ; */
    /* background: linear-gradient(#157BD0, #ADD8FF); */
  background: linear-gradient(#282d32, #424950);

    height: auto;
    /* margin:0%; */
    display: grid;
    grid-template-columns: 73.5% auto;
    grid-template-rows: 12% auto 12% 10%;
    color:white;
}


.ChatMain {
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    grid-template-rows: auto 9%;
    /* flex-direction: column;  */
    /* align-items:flex-end; */

}

.ChatInput {
    background-color: #282d32;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}


.AddMedia {
    color:#157BD0;
    height: fit-content;
    margin-top: 0%;
    margin-left: 0.4%;
    /* padding: 1%; */
    background-color: transparent;
    font-size: 290%;
    cursor: pointer;
    border-color: transparent;
}

.ChatInputBox{
    margin-left: 1%;
    margin-top:0%;
    float: left;
    /* background-color: #282d32; */
    font-size: 1.4rem;
    border-radius: 12px;
    /* border: none; */
    padding: 0.5%;
    opacity: 75%;
    min-width: 88%;
    height: 5vh;
}

.ChatSendMessage {
    cursor: pointer;
    width: fit-content;
    background-color: lightgreen;
    /* padding:0.4%; */
    font-size: 180%;
    border-radius: 25px;
    border-color: transparent;
    margin: 1%;
    align-items: center;
}



.MessagesArea {
    display: flex;
    flex-direction: column;
    align-self: end;
    /* justify-content: flex-end; */
}


.MembersRow {
    /* background-color: black; */
    background-color: #282d32;
    border-bottom: 1px;
    opacity: 95%;
    grid-column-start: 1;
    grid-column-end: 3;
    /* border-bottom: 1px solid ; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}



.ChatSideDeets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-left: 1px solid #282d32;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    /* overflow-y: scroll; */
}

.ChatSideDeetsMemberName {
    background-color: #282d32;
    padding: 5%;
    width: 90%;
    margin-top: 0%;
    margin-bottom: 0%;

}

.sideDeetsEnergy {
    border-color: transparent;
    background-color: transparent;
    color:white;
    cursor: pointer;
    width: 50%;
    font-weight: 500;
    border-radius: 50%;
    margin-top:0.5%;
    margin-bottom:2%;
}

.ToggleSection {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;

}

.ToggleDeets {
    padding: 9%;
    border-radius: 5px;
    /* background-color: rgb(40, 119, 189);  toggle the color based on what its doing*/
    /* background-color: rgb(40, 67, 189); */
    /* background-color: #157BD0; */
    background: linear-gradient(#282d32, #ADD8FF);
    /* background-color: orange; */
    cursor: pointer;
    font-size: 200%;
    width: 100%;
}

.ChatVibes1 {
    /* background-color: rgb(162, 0, 255); */
    border: 1px solid #282d32;
}

