.myMindMaster {
  /* background-image: url(../images/Tribal.jpg); */
  /* background-image: url(../images/Tribb.jpg); */
  background: linear-gradient(#0C1B3F, #342138);

  background-repeat: repeat;
  color: white;
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 80vh auto;
}

.PrioritiesSection {
  border-right: 1px dotted;
  border-bottom: 1px solid;
  /* background-color: #0526e0; */

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.PrioritiesTitle {
  float: left;
  /* margin-bottom: 0%; */
  border: 1px solid #0ba5ec;
  margin-left: 2%;
  width: 40vw;
  /* color:black; */
  /* margin-top: -4%; */
}

.PriorityInput {
  /* width: 70%;
    justify-content: center;
    /* padding-bottom: 2rem; */
  /* margin-left: 2%; */
  color: white;
  bottom: auto;
  background-color: black;
  font-size: 1.2rem;
  border-radius: 25px;
  padding: 10px;
  opacity: 75%;
  position: relative;
  bottom: 0;
  width: 88%;
  margin-left: 0.5%;
}

.ClickPriority {
  cursor: pointer;
  width: fit-content;
  background-color: lightgreen;
  /* padding:0.4%; */
  font-size: 140%;
  border-radius: 25px;
  border-color: transparent;
  margin-left: 0.5%;
}

.WorriesTitle {
  float: left;
  margin-left: 2%;
  border: 1px solid #0526e0;
  /* margin-top: -4%; */
}

.WorriesSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: space-around; */
  border-bottom: 1px solid;
}

.EnergySection {
  grid-column-start: 1;
  grid-column-end: 3;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5%;
  padding:2px;
}

#EnergyButton {
  border-radius: 50%;
  margin-top: 0%;
  margin-bottom: 0.5%;
  width: 12rem;
  height: 12rem;
  opacity: 90%;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.EnergyWeak {
  background-color: rgb(131, 26, 44);
}

.EnergyDecent {
  /* background-color: #0526e0; */
  background-color: #157bd0;
}

.EnergySolid {
  background-color: aquamarine;
}

.EnergyAwesome {
  background-color: rgb(15, 255, 80);
}

.EnergyTagline {
  font-family: cursive;
  font-size: 120%;
  margin-top: 0%;
  font-weight: 200;
}

#flip-horizontal-top {
  -webkit-animation: flip-horizontal-top 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}




@-webkit-keyframes flip-horizontal-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@keyframes flip-horizontal-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

#flip-horizontal-bottom {
  -webkit-animation: flip-horizontal-bottom 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}
