.NavBar {
    /* background-color:black;
     */
    /* background-image: url(../images/Tribb.jpg);  */
    background-color: #282d32;
    width: auto;
    color:white;
    height: auto;
    opacity:95%;
    display: flex;
    flex-direction: column;
    /* width: 240px; */
    /* position: relative; */
    
    /* grid-template-rows: 10% auto; */

    
}

.NavTitle {
    /* color: rgb(252, 103, 4);
     */
    /* margin-bottom: 20%; */
    font-size: 200%;
    color:orange;
    /* color:green; */
    /* color:#157BD0; */
    font-family:cursive;
    margin-bottom: 3%;
    text-align: start;
    margin-left: 5%;
    /* border-bottom-style:solid;
    border-color: white; */
}



.NavWelcome{
    margin-top:7%;
    margin-bottom: 10%;
    font-size: 110%;
}

.NavOptions {
    font-family: Montserrat, sans-serif;
    text-align: start;
    margin-left: 5%;
    margin-top: 0%;
    font-size: 98%;
    text-decoration: none;
    /* margin-bottom:auto; */
    /* text-decoration-color: none;  */
}


a {
    text-decoration: none;
    color:white;
}

h2 {
    text-decoration: none;
}

.NavOptions > h2 a:hover {
    color:#157BD0;
} 


.active {
    color:#157BD0;
}

.Logout{
    display: flex;
    /* background-color: #157BD0; */
    margin-top: auto;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    margin-bottom: auto;
}

.NavUserName {
    display: flex;
    justify-content: space-between;
    margin-top:-5%;
       margin-left: 5%;
    /* justify-content: ; */
    /* margin-top: auto; */
    /* margin-bottom:auto; */
}

.NavUserEmail {
    /* margin-top: auto; */
    margin-bottom:auto;
}

/* .NavOptions2 > a {
    margin-top:auto;
    text-decoration: none;
    color:white;
} */

.NavOptions2 > a:hover {
    color:#157BD0;
}

/* .NavOptions2 > a:active {
    color:#157BD0;
} */


.NavOptions2 {
    font-family: Montserrat, sans-serif;
    text-align: start;
    margin-top: auto;
    margin-left: 5%;
    font-size: 98%;
    text-decoration: none;
    max-height: 9%;
}

