.NavBar {
    background-color:black;
    width: auto;
    color:white;
    height: 100vh;
    opacity:79%;
    display: flex;
    flex-direction: column;
    /* width: 240px; */
    /* position: relative; */
    
    /* grid-template-rows: 10% auto; */

    
}

.NavTitle {
    color: rgb(252, 103, 4);
    /* margin-bottom: 20%; */
    font-size: 285%;
    font-family:cursive;
    margin-bottom: 5%;
    text-align: start;
    margin-left: 5%;
    /* border-bottom-style:solid;
    border-color: white; */
}

.NavWelcome{
    margin-top:7%;
    margin-bottom: 10%;
    font-size: 110%;
}

.NavOptions {
    font-family: Montserrat, sans-serif;
    text-align: start;
    margin-left: 5%;
    margin-top: 0%;
    font-size: 118%;
    text-decoration: none;
    /* text-decoration-color: none;  */
}


.Logout{
    margin-top: 90%;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
}

.NavUserName {
    margin-top: 25%;
    margin-bottom:2%;
}

.NavUserEmail {
    margin-top: 2%;
}

