.SignUpMaster {
    color:white;
    /* background-image: url(../images/Tribal.jpg) ; */
    background-image: url(../images/FireCropped.gif) ;
    background-size:cover;

}

#signupparent {
    display: flex;
    /* grid-template-columns: auto; */
    justify-content: center;
    height: 100vh;
    /* background-color: aquamarine; */
}

#SelectedBox {
    background-color:rgb(4, 157, 252);
    color: white;
    padding:1.9%;
}

#SignUpTitle {
    font-size: 480%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding:0%;
    /* background-color: aquamarine; */
}

.LifeIsBetter {
    font-size: larger;
}



#signupbox {
    margin-top: 5vh;
    padding-top: 1vh;
    height: 90vh;
    width: 50vw;
    /* background-color: lightgray; */
}

.SignUpButton{
    margin-bottom: 4%;
    padding:1.5%;
    width:40%;

}

#signups {
    display: grid;
    grid-template-columns: 50vh;
    /* background-color: black; */
    grid-template-rows: 10vh 10vh 10vh 10vh;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.signupinput {
    margin-bottom: 3.5vh;
    font-size: 1.1rem;
    padding: 18px;
    /* max-width: 50vw; */
    opacity: 85%;
    /* border-left: 4px solid rgb(4, 157, 252); */
    /* border-color:rgb(4, 157, 252) ; */

}
#names {
    display: flex;
    margin-bottom: 4vh;
    font-size: 1.3rem;
    border-radius: 25px;
    padding: 18px;
    opacity: 75%;
    /* grid-template-columns: 12vw 12vw; */
    /* grid-template-rows: 5vh; */
    justify-content: center;
    /* background-color: aquamarine; */
}

#signupbutton2 {
    background-color:rgb(4, 157, 252);
    width: 22%;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 3%;
    padding:1.5%;


}

.Tribey {
    /* border-bottom: 4px solid rgb(4, 252, 33);; */
    border-left: 4px solid blue;
    background-color: black;
    color:white;
    /* border-color:rgb(4, 157, 252); */

}

#login {
    /* display: grid;
    grid-template-columns: 12vw 9vw; */
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding-top: 3%;
    /* margin-bottom: 0%; */
}

.HaveOne {
    margin:3px;
}

#larea {
    font-weight: bold;
    margin:3px;
    color:rgb(83, 228, 54);
    /* margin-left:0.1% */
    /* margin-left: -7vw; */
    /* margin-top: 3%; */
}
