.App {
  text-align: center;
  display: grid;
  grid-template-columns: 17vw auto;
  gap:0px;
  /* border:5 px solid #85be13 */
}

body{
  /* background-image: url(./images/Tribb.jpg);  */
    background-image: url(./images/Tribal.jpg) ;

  /* background: linear-gradient(#157BD0, #ADD8FF); */
  /* font-family: Montserrat, sans-serif; */

   /* background: linear-gradient(#59db6a, #ADD8FF); */
   /* background: linear-gradient(#1531d0, #ADD8FF); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
